<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
    </head>
    <body>
        <form action="/search" method="POST">
            <input type="text" value="<%= value %>" name="name">
            <button type="submit">Submit</button>
        </form>
        <br>
        <%- formattedString %>
    </body>
</html>